<div class="home-esquerdo">
  			<div class="alinha-elementos">
  				<div class="centralizar-img-text">
  					<img src="../../assets/images/heart.png">
  					<p>Salve Vidas.</p>
				</div>
				
				<div class="centralizar-img-text">
  					<img src="../../assets/images/tag.png">
  					<p>Ganhe descontos.</p>
				</div>
				
				<div class="centralizar-img-text">
  					<img src="../../assets/images/worldwide.png">
  					<p>Torne do mundo um lugar melhor.</p>
				</div>
			</div>
  		</div>
  		<div class="home-direito">
  			<div class="alinha-home-direito">
  				<img src="../../assets/images/bloodicon.png">
	  			<h1>Veja as campanhas que estão acontecendo agora</h1>
	  			<div class="">
					<a class="cadastroHome" href="cadastro.html">Faça seu cadastro</a>
					<a class="loginHome"href="login.html">Entrar</a>
				</div>
			</div>
  		</div>