<!DOCTYPE html>

<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Doe Sangue</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../assets/images/bloodicon.png">
	<link rel="stylesheet" href="../../assets/stylesheets/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
	<body>
		<div class="caixaandshadow">
			<div class="principal">
				<div class="container-login">
					<form>
						<div id="login">
							<img src="../../assets/images/bloodicon.png">
							<h1>Login</h1>
						</div>
						<div class="inputWithIcon inputIconBg">
							<input type="text" name="login" placeholder="Login">
							<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
						</div>

						<div class="inputWithIcon inputIconBg">
							<input type="password" name="senha" placeholder="Senha">
							<i class="fa fa-key fa-lg fa-fw" aria-hidden="true"></i>
						</div>
						<p class="enviar">
							<input type="submit" name="enviar" value="Entrar">
						</p>
					</form>
					<div class="OthersInfos" >
						<a href="cadastro.html">Faça seu cadastro</a>
						<a class="OthersInfos">|</a>
						<a href="#">Esqueceu a senha?</a>
					</div>
				</div>
				<div class="container-img-login">
					<img src="../../assets/images/blood-donor.jpg">
				</div>
			</div>
		</div>
	</body>
</html>	